<%- include('header.ejs'); -%>
<div id="container">
    <h1 id="heading2">
      The Multiverse of Books
    </h1>
  </div>
  <div id="container2">
    <h2 id="heading3">
      LATEST READS
    </h2>
  </div>
  <hr>
  <% for(let book of bookTitles){%>
  <div id="container3">
    <div id="c4"><img id="bookimg" src="assets/TKR.jpg"></div>
    <div id="c5"><h3 id="title"> <%= book.title %></h3>
    <h3 id="author"> <%= book.author %></h3>
    <h3 id="summary"> <%= book.summary %></h3></div>
  </div>
  <hr>
  <% } %>
  <%- include('footer.ejs'); -%>